.Expense{
  max-width: 5in;
  min-height: 5in;
  border-radius: .5in;
  margin: 0 auto;
  background-color:lightslategray;
  box-shadow: 0 0 10px gray;
  margin-top: 0px;
  padding: 15px 50px;
  
}

.Middle{
  text-align: center;
  margin-left: 1in;
  width: 3in;
  height: .4in;
  background-origin: padding-box;
  box-sizing: border-box;
  justify-content: stretch;
  background-color: #909fad;
  border-radius: .5in;


}
.Tracker{
  display:flex;
  justify-content: space-around;
  background-color:lightslategray;
  box-shadow: 0 0 1in #909fad;
  border-radius: 0em;
  box-sizing: inherit;
  border-radius: .5in;
  border-color: indigo;
  


}
.transaction-list{
  margin: 0;
  padding: 0;
  margin-bottom: .7in;
}
.transaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding:  10px 5px;
  background-color: white;
  margin: 5px 0;
}
.transaction form{
  width: 20%;
  margin: 10px 0;
  padding: 5px 0;
  
  
  
}
.mango{

 
  
  margin-left: 1.5in;
 margin-bottom: .3in;

}